name: make
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    name: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v4
      with:
        go-version: '1.21.0'
    - run: make
